core/src/test/files/xml/validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="root_tag">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="subTag"/>
        <xs:element ref="anotherSubTag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subTag">
    <xs:simpleType>
      <xs:restriction base="xs:integer"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="anotherSubTag" type="xs:NCName"/>
</xs:schema>
